@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Turret+Road:wght@200&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Rock+Salt&family=Turret+Road:wght@200&family=Wallpoet&display=swap');

* {
  padding: 0;
  margin: 0;
}

#top final{
  display: none;
}

.principal{
  height: 314px;
  background: url("Recursos/Proyecto\ nuevo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.subTitulo{
  flex-shrink: 0;
  color: #FEFEFE;
  font-family: 'new rocker';
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-right: 80px;
}

.titulo{
  color: #FEFEFE;
  font-family: 'new rocker';
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0px;
}

.imagenPrincipal{
  width: 184px;
  height: 97px;
  flex-shrink: 0;
}

.albumImagen{
  width: 52px;
  height: 49px;
  flex-shrink: 0;
}

.separar{
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}

.offcanvas-title{
  font-family: 'new rocker';
}

.nav-link-active{
  font-family: 'rock salt';
  text-decoration: none;
  color: #FEFEFE;
}

.contenedorCompleto{
  height: 159px;
  background: url("Recursos/Proyecto\ nuevo\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.origenTitulo{
  color: #FFF;
  font-family: 'Wallpoet';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

.textoOrigen{
  color: #FFF;
  font-family: 'Turret Road';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  padding: 0px 30px 0 30px;
}

.topBandas{
  height: 1900px;
  background: url("Recursos/Proyecto\ nuevo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.tituloTop{
  color: #FFF;
  font-family: Wallpoet;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

.contenedorDiscos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.col{
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  text-align: center;
}

.nuemroTop{
  color: #000;
  text-align: center;
  font-family: Stick;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 70px;
}

.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.contenedor figure{
  position:relative;
  
  cursor: pointer;
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 6px;
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(154, 0, 189, 0.7);
  border-radius: 50px;
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;

}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa img{
  margin-top: 10px;
  margin-bottom: 15px;
  width: 189px;
  height: 107px;
  flex-shrink: 0;
  flex-shrink: 0;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
.contenedor figure .capa p{
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  font-family: Turret Road;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}
.contenedor figure .capa p{
  color: #fff;
  font-size: 12px;
  font-family: Turret Road;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.galeria{
  height: 596px;
  background: url("Recursos/Proyecto\ nuevo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.textoGaleria{
  color: #FFF;
  font-family: 'Wallpoet';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 84px);
  grid-template-rows: repeat(6, 83px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 3 / 2 / 4; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 2 / 3 / 3 / 4; }
  .div5 { grid-area: 2 / 4 / 3 / 5; }
  .div6 { grid-area: 2 / 2 / 3 / 3; }
  .div7 { grid-area: 2 / 1 / 3 / 2; }
  .div8 { grid-area: 3 / 1 / 4 / 2; }
  .div9 { grid-area: 3 / 2 / 4 / 3; }
  .div10 { grid-area: 3 / 3 / 4 / 4; }
  .div11 { grid-area: 4 / 1 / 5 / 2; }
  .div12 { grid-area: 4 / 2 / 5 / 3; }
  .div13 { grid-area: 4 / 3 / 5 / 4; }
  .div14 { grid-area: 5 / 1 / 6 / 2; }
  .div15 { grid-area: 5 / 2 / 6 / 3; }
  .div16 { grid-area: 5 / 3 / 6 / 4; }
  .div17 { grid-area: 6 / 2 / 7 / 3; }
  .div18 { grid-area: 4 / 4 / 6 / 5; }

.gridTamaño{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("Recursos/Proyecto\ nuevo\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.gridTamaño2{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: url("Recursos/Proyecto\ nuevo\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.frase{
  height: 159;
  background: url("Recursos/Proyecto\ nuevo\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
  padding: 20px 40px 10px 40px;

}

.textoFrase{
  color: #FFF;
text-align: center;
font-family: Turret Road;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.autor{
  color: #FFF;
text-align: center;
font-family: Turret Road;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (width >=560px) {
  .separar{
    padding-left: 180px;
  }

  .topBandas{
    height: 1000px;
  }

  .galeria{
    height: 900px;
  }

  .parent{
    grid-template-columns: repeat(5, 132px);
    grid-template-rows: repeat(6, 132px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .origenTitulo{
    font-size: 36px;
  }

  .tituloTop{
    font-size: 36px;
    padding-bottom: 25px;
  }

  .textoGaleria{
    font-size: 36px;
  }
}

@media screen and (width >=834px) {
  .separar{
    padding-left: 320px;
  }

  .topBandas{
    height: 800px;
  }

  .galeria{
    height: 1250px;
  }

  .parent{
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: repeat(6, 192px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 25px;
    padding-right: 10px;
  }

  .principal{
    height: 517px;
  }

  .imagenPrincipal{
    width: 521px;
    height: 276px;
    flex-shrink: 0;
  }

  .textoOrigen{
    font-size: 12px;
  }
}

@media screen and (width >=1280px) {
  .separar{
    padding-left: 500px;
    gap: 40px;
  }

  .topBandas{
    height: 450px;
  }

  .galeria{
    height: 1920px;
  }

  .parent{
    grid-template-columns: repeat(5, 295px);
    grid-template-rows: repeat(6, 295px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 35px;
    padding-right: 10px;
  }

  .principal{
    height: 756px;
  }

  .imagenPrincipal{
    width: 799px;
    height: 423px;
    flex-shrink: 0;
  }
}